<header class="top-image">
  <div class="container">
    <div class="text-center padding-top-s">
      <h3>
        <%=@random_header.name %>

        <!--Check if already saved-->
        <% if @saved_list_cookies_array != nil && @saved_list_cookies_array.include?(@random_header.id) %>
          <%= link_to "javascript:removeFromCookies(#{@random_header.id})", class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          <% end %>
        <% else %>
          <%= link_to "javascript:addToCookies(#{@random_header.id})", class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <% end %>
        <% end %>

      </h3>
      <div class="panel panel-primary header-img">
        <div class="panel-body">
          <img class="img-responsive" src="<%=@random_header.images[0].url %>">
        </div>
      </div>
      <h3><%=@random_header.price %></h3>
    </div>
  </div>
</header>

<!--Popular-->
<section class="col-md-12 padding-bottom-s">
  <div class="container shadow-lg">
    <div class="row">
      <h2 class="col-xs-9 section-header">Popular</h2>
      <a href="/collections?collection=-1"><h2 class="col-xs-3">See All <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></h2></a>
    </div>
    <div class="row padding-top-s">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-primary shadow-lg">
          <div class="panel-body">
            <img class="img-responsive" src="<%= @popular_items[0].images[0].url %>" />
          </div>
          <div class="panel-footer">
            <p><%= @popular_items[0].name %></p>
            <p>
              <%= @popular_items[0].price %>

              <!--Check if already saved-->
              <% if @saved_list_cookies_array && @saved_list_cookies_array.include?(@popular_items[0].id) %>
                <%= link_to "javascript:removeFromCookies(#{@popular_items[0].id})", class: 'btn btn-default pull-right' do %>
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                <% end %>
              <% else %>
                <%= link_to "javascript:addToCookies(#{@popular_items[0].id})", class: 'btn btn-default pull-right' do %>
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <% end %>
              <% end %>

            </p>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-primary shadow-lg">
          <img class="img-responsive" src="<%= @popular_items[1].images[0].url %>" />
          <div class="panel-footer">
            <p><%= @popular_items[1].name %></p>
            <p>
              <%= @popular_items[1].price %>

              <!--Check if already saved-->
              <% if @saved_list_cookies_array && @saved_list_cookies_array.include?(@popular_items[1].id) %>
                <%= link_to "javascript:removeFromCookies(#{@popular_items[1].id})", class: 'btn btn-default pull-right' do %>
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                <% end %>
              <% else %>
                <%= link_to "javascript:addToCookies(#{@popular_items[1].id})", class: 'btn btn-default pull-right' do %>
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <% end %>
              <% end %>

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-primary shadow-sm">
          <img class="img-responsive" src="<%= @popular_items[2].images[0].url %>" />
          <div class="panel-footer">
            <p><%= @popular_items[2].name %></p>
            <p>
              <%= @popular_items[2].price %>
              <!--Check if already saved-->
              <% if @saved_list_cookies_array && @saved_list_cookies_array.include?(@popular_items[2].id) %>
                <%= link_to "javascript:removeFromCookies(#{@popular_items[2].id})", class: 'btn btn-default pull-right' do %>
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                <% end %>
              <% else %>
                <%= link_to "javascript:addToCookies(#{@popular_items[2].id})", class: 'btn btn-default pull-right' do %>
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<!--Collections-->
<section class="col-md-12 padding-bottom-s">
  <div class="container">
    <div class="row">
      <h2 class="col-xs-9 section-header">Collections</h2>
      <a href="/collections"><h2 class="col-xs-3">See All <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></h2></a>
    </div>

    <div class"row">
      <!--Wide Panel-->
      <a class="clear-text-color" href="/collections?collection=4">
        <div class="row padding-top-s">
          <div class="col-xs-12">
              <div class="panel panel-default panel-size-m clear-panel">
                  <div class="panel-body">
                    <div class="panel-container">
                      <img class="img-responsive filter-img" src="https://rad2021-justanotheronlinestore-images.s3.amazonaws.com/Index/newItems.jpg">
                      <h1 class="panel-text">New</h1>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </a>

      <div class="row">
        <!--Short Panels -->

        <div class="col-md-6 col-xs-12 panel-group">
          <a class="clear-text-color" href="/collections?collection=1">
            <div class="panel panel-default panel-size-m clear-panel">
                <div class="panel-body">
                    <div class="panel-container">
                      <img class="img-responsive filter-img" src="https://rad2021-justanotheronlinestore-images.s3.amazonaws.com/Index/Men.jpg">
                      <h1 class="panel-text">Men</h1>
                    </div>
                </div>
            </div>
          </a>
          <a class="clear-text-color" href="/collections?collection=2">
            <div class="panel panel-default panel-size-m clear-panel">
                <div class="panel-body">
                    <div class="panel-container">
                      <img class="img-responsive filter-img" src="https://rad2021-justanotheronlinestore-images.s3.amazonaws.com/Index/Women.jpg">
                      <h1 class="panel-text">Women</h1>
                    </div>
                </div>
            </div>
          </a>
        </div>

        <!--Long Panel-->
        <div class="col-md-6 col-xs-12">
          <a class="clear-text-color" href="/collections?collection=3">
            <div class="panel panel-default panel-size-l clear-panel">
                <div class="panel-body">
                    <div class="panel-container">
                      <img class="img-responsive filter-img" src="https://rad2021-justanotheronlinestore-images.s3.amazonaws.com/Index/Children.jpg">
                      <h1 class="panel-text">Children</h1>
                    </div>
                </div>
            </div>
          </a>
        </div>
      </div>

    </div>

  </div>
</section>

<hr>

<!--Saved List-->
<% if (@saved_list_cookies && JSON.parse(@saved_list_cookies).length > 0) %>
  <section class="col-md-12">
    <div class="container">

      <div class="row padding-bottom-s">
        <h2 class="col-xs-9 section-header">Saved List</h2>
      </div>
        <!--Items-->
      <div class="row">
        <% JSON.parse(@saved_list_cookies).each do |saved_item| %>
        <% @saved_item_record = Item.find(saved_item) %>
        <div class="col-md-3">
          <div class="panel panel-primary shadow-sm">
            <img class="img-responsive" src="<%= @saved_item_record.images[0].url %>" />
            <div class="panel-footer">
              <p><%= @saved_item_record.name %></p>
              <p>
                <%= @saved_item_record.price %>
                <!--Check if already saved-->
                <% if @saved_list_cookies_array && @saved_list_cookies_array.include?(@saved_item_record.id) %>
                  <%= link_to "javascript:removeFromCookies(#{@saved_item_record.id})", class: 'btn btn-default pull-right' do %>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                  <% end %>
                <% else %>
                  <%= link_to "javascript:addToCookies(#{@saved_item_record.id})", class: 'btn btn-default pull-right' do %>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </section>
<% end %>

<!--Newsletter-->
<section class="col-md-12 text-center">
  <div class="container text">
    <h2 class="font-weight-light">Newsletter</h2>
    <p>Join the newsletter for the latest news on new lines and specials!</p>
    <div class="row padding-bottom-m">
      <div class="col-xs-12">
        <%= form_tag "/" do %>
          <div class="input-group input-group-lg">
            <input type="email" class="form-control email-form" name="email" id="email" placeholder="john.smith@example.com">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default email-submit">Submit</button>
            </span>
          </div>
        <% end %>

      </div>
      <!--<form class="form-inline">-->
      <!--  <label for="newsletterEmail">Email Address</label>-->
      <!--  <input type="email" class="form-control email-form" id="newsletterEmail" placeholder="john.smith@example.com">-->
      <!--  <button type="submit" class="btn btn-default email-submit">Submit</button>-->
      <!--</form>-->
    </div>
  </div>
</section>